<div class="wrapper">
  <main class="container">
    <!-- Left section -->
    <section>
      <input 
        type="number" 
        id="integer-input" 
        name="integer-input" 
        [(ngModel)]="numValue" 
        (ngModelChange)="validateInput($event)"
      >
    </section>

    <!-- Center section -->
    <section>
      <select name="calculation-mode" id="calculation-mode" [(ngModel)]="calMode" (ngModelChange)="calculate()">
        <option value="isPrime">isPrime</option>
        <option value="isFibonacci">isFibonacci</option>
      </select>
    </section>

    <!-- Right section -->
    <section>
      <span>{{calResult}}</span>
    </section>
  </main>
</div>